<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://x.com/tushar1878926">
            <i class="fa-brands fa-square-twitter"></i>
           </a> 
           <a href="https://github.com/tushar-agarwal7" >
            <i class="fa-brands fa-square-github"></i>

           </a> 
           <a href="https://www.linkedin.com/in/tusharagarwal73/">
            <i class="fa-brands fa-linkedin"></i>
           </a> 

        </div>
        <div class="f-info-brand">  Copyright &copy; 2024 tushar-agarwal7<i class="fa-brands fa-square-github"></i></div>
        <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms </a>
        <a href="/companydetails"> Companny Details</a>
</div>

    </div>
</footer>